version: '3'

services:
  grampsweb_test: &grampsweb_test
    container_name: grampsweb_test
    image: ghcr.io/u71536/gramps-web-new:1.1.0
    restart: always
    environment: &grampsweb_test-env
      GRAMPSWEB_TREE: "Gramps Web Test"
      VIRTUAL_PORT: "5001"
      VIRTUAL_HOST: test.familytree.rstak.co
      LETSENCRYPT_HOST: test.familytree.rstak.co
      LETSENCRYPT_EMAIL: u71536@gmail.com
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://grampsweb_redis_test:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://grampsweb_redis_test:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://grampsweb_redis_test:6379/1
      PORT: "5001"
      # SMTP Settings
      GRAMPSWEB_EMAIL_HOST: "mail.smtp2go.com"
      GRAMPSWEB_EMAIL_PORT: "2525"
      GRAMPSWEB_EMAIL_HOST_USER: "rstak.co"
      GRAMPSWEB_EMAIL_HOST_PASSWORD: "8Z71sMNzgFCRsCaN"
      GRAMPSWEB_DEFAULT_FROM_EMAIL: "noreply@rstak.co"
      GRAMPSWEB_EMAIL_USE_TLS: "True"
    expose:
      - "5001"
    volumes:
      - gramps_users_test:/app/users
      - gramps_index_test:/app/indexdir
      - gramps_thumb_cache_test:/app/thumbnail_cache
      - gramps_cache_test:/app/cache
      - gramps_secret_test:/app/secret
      - gramps_db_test:/root/.gramps/grampsdb
      - gramps_media_test:/app/media
      - gramps_tmp_test:/tmp
      - ./static:/app/static
    networks:
      - grampsweb_proxy-tier
      - default

  grampsweb_celery_test:
    <<: *grampsweb_test
    container_name: grampsweb_celery_test
    depends_on:
      - grampsweb_redis_test
    environment:
      <<: *grampsweb_test-env
      VIRTUAL_PORT: ""
      VIRTUAL_HOST: ""
      LETSENCRYPT_HOST: ""
      LETSENCRYPT_EMAIL: ""
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=2

  grampsweb_redis_test:
    image: docker.io/library/redis:7.2.4-alpine
    container_name: grampsweb_redis_test
    restart: always
    networks:
      - default

  proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      ENABLE_IPV6: "true"
    volumes:
      - ./nginx_proxy.conf:/etc/nginx/conf.d/my_proxy.conf:ro
      - conf:/etc/nginx/conf.d
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:ro
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    restart: always
    environment:
      NGINX_PROXY_CONTAINER: nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy-tier
    depends_on:
      - proxy

volumes:
  gramps_users_test:
  gramps_index_test:
  gramps_thumb_cache_test:
  gramps_cache_test:
  gramps_secret_test:
  gramps_db_test:
  gramps_media_test:
  gramps_tmp_test:


networks:
  grampsweb_proxy-tier:
    external: true
  default:
